footer {
    bottom: 0;
    background-color: #5005a5;
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer #lista-rodape ul, footer #icones-rodape ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer #lista-rodape ul li , footer #icones-rodape ul li {
    padding: 5px;
}

footer #lista-rodape ul li a , footer #icones-rodape ul li a {
    color: white;
    text-decoration: none;
}

footer #lista-rodape ul li a:hover , footer #icones-rodape ul li a:hover {
    color: black;
    text-decoration: none;
}

footer #icones-rodape img {
    width: 50px;
}

#separador {
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    width: 2px;
    margin: 50px 0px;
}