* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    min-height: 100%;
}

header #logo {
    position: absolute;
    top: 0;
    left: 0;
}


#navegacao {
    height: 145px;
    padding: 5px;
    background: linear-gradient(lightgray, gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

#navegacao ul {
    display: flex;
    list-style: none;
}

#navegacao li {
    padding: 10px;
    margin: 5px;
}

#navegacao li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
    border-radius: 5px;
}

#navegacao li:hover {
    transform: scale(1.25);
    transition: 1.05s;
}

#navegacao li a:hover {
    color:#5005a5;
    transition: 1.05s;
}

h1 {
    text-align: center;
    color: #5005a5;
    margin-top: 10px;
    margin-bottom: 5px;
}

#conteudo {
    height: calc(100% - (145px - 110px));
    padding: 5px;
}